:root{
    --signika-segative:  'Signika Negative', sans-serif;;
}

*{
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;    
    background: linear-gradient(45deg, #6bce99 0%, #e0dc5c 100%);
}

.container{
    padding: 3rem 0;
}

@media screen and (min-height:748px) {
    .container {
        padding: 6rem 0;
    }
}